/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 

*/

.root{
    -fx-background-color: #fff8e7;
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

.button{
    -fx-background-color: #03a8c9;
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-border-width: 2px;
    -fx-text-fill: beige;
    -fx-font-size: 15px;
}
.button:focused, .button:hover{
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-border-color: #fdde55;
}

.button:pressed{
    -fx-background-color: #03bde2;
}

.header{
    -fx-background-color: #feefad;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#penIconButton{
    -fx-background-color: #03a8c9;
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-border-width: 2px;
    -fx-text-fill: beige;
    -fx-font-size: 20px;
}

.sub-header{
    -fx-font-weight: bold;
}

.list-view{
    -fx-background-color: e6faff;
    -fx-border-color: whitesmoke;
    -fx-border-width: 1px;
} 

.list-view .list-cell{
    -fx-background-color: #e6faff;
    -fx-border-color: #81e8fd;
    -fx-border-width: 0.2px;
}

.list-view .list-cell:focused{
    -fx-background-color: #03aed2;
    -fx-text-fill: black;
    -fx-border-color: #fdde55;
    -fx-border-width: 2px;
}

.list-view .list-cell:hover{
    -fx-background-color: #03bde2;
}

.alert{
    -fx-background-color: white;
}

.alert:header .header-panel{
    -fx-background-color: #0393b0;
}

.alert:header .header-panel .label{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.alert .label.content{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-background-color: white;
}

.alert .button-bar .container{
    -fx-background-color: white;
}

.alert .button{
    -fx-background-color: #0393b0;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-background-radius: 12px;
}

.alert .button-bar .button:hover, alert .button-bar> .button:focussed{
    -fx-background-color: #03aed2;
}

.errorText {
    -fx-text-fill: red;
}

.label-delete{
    -fx-text-fill: blue;
    -fx-underline: true;
}
.label-delete:hover{
    -fx-font-size: 13px;
    -fx-weight: bold;
}

.label-email{
    -fx-font-size: 12px;
}

.password-field .text-field-prompt {
    -fx-prompt-text-fill: black;
}

